:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}


*{
    margin: 0;
    padding: 0;
    color: white;
}

body{

border-color: var(--Grey-900);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container{
    background-color: var(--Grey-800);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    
}

link{
    background-color: var(--Grey-700);
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.link:hover{
    border-color: var(--Green);
    color: black;
}

a{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

a:hover{
    background-color: var(--Green);
    color: black;
}

img{
    width: 150px;
    border-radius: 50%;
    margin-left: 55px;
}

h4{
    color: var(--Green);
}

.titulo{
    margin-bottom: 20px;
}